* {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
    list-style: none;
}


.main_block--background--red {
    background: #eb5757;;
}


.main_block__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo .logo {
    display: flex;
    align-items: center;
}

.header__menu {
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu .menu__item {
    margin: 0 20px;
    padding: 4px 10px;
}

.menu .menu__item:hover {
    background: #222;
    border-radius: 5px;
}


.button .button__link {
    font-weight: 400;
    color: #f9f9f9;
    font-size: 16px;
    text-decoration: none;
}

.header__cart {
    position: relative;
}

.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 15px;
    background: #222;
    border-radius: 5px;
    cursor: pointer;
}

.cart .logo_cart {
    width: 20px;
    max-width: 100%;
}

.cart-quantity {
    position: absolute;
    right: -7px;
    top: -7px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background: aliceblue;
    padding: 0 6px;

}

.cart-quantity .cart-quantity__number {
    color: #222222;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}

.cart-window {
    display: none;
}

.header__cart:hover .cart-window {
    position: absolute;
    left: -209px;
    top: 52px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    display: block;

}

.cart-window .cart-window__title {
    margin: 0 auto;
    text-align: center;

}

.cart-window .cart-window__title .title__text {
    color: #eb5757;
    font-size: 20px;
}

.table_of_content, .content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.table_of_content .table_of_content__product, .table_of_content__quantity{
    padding: 0 20px;
}


.content .content__quantity {
    margin-right: 30px;
}

.content .content__product {
    margin-left: 30px;
}


.content .content__product div, .content__quantity div {
    margin-top: 10px;
}


.content .content__quantity div {
    min-width: 50px;
    background: #eb5757;
    border-radius: 5px;
    text-align: center;
    color: #f9f9f9;
}
